<div class="wrapper" style="text-align: left;">
  <h1>About Me</h1>
  <br /><br />
  <p>
    Hello, I am Qiao Lu <br><br><br>
    • 2.5 years of experience in related positions including Frontend Developer, Data Analyst, Network Assistant and Coding Mentor.<br><br>
    • A confident quick learner with self-motivation, developed interpersonal, time management skills and intercultural awareness.<br><br>
    • Adaptability and flexibility skills gained through the UK exchange program and travelling to more than 30 different countries.<br><br>
    • 4+ years of experience as a Project Manager before coming to Canada, sharpened my leadership, attention to detail and problem-solving skills.<br><br>
    • A brave adventurer with a PADI Scuba Diving License, Paraglider Pilot Certificate, AFF Skydiving License, also a Snowboarding Tricks Player.<br><br><br>

    Did I impress you? <br><br>
    Let's work together!
  </p>
</div>
